<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maersk.apawnd.wms.standard.mapper.EsbRcptMainMapper">
    <resultMap id="esbRcptMainModel" type="EsbRcptMainModel">
        <result column="hjs_parent_id" property="hjsParentId"/>
        <result column="hjs_node_id" property="hjsNodeId"/>
        <result column="hjs_sequence" property="hjsSequence"/>
        <result column="hjs_error_number" property="hjsErrorNumber"/>
        <result column="hjs_error_message" property="hjsErrorMessage"/>
        <result column="RECEIPT_ID" property="receiptId"/>
        <result column="MESSAGE_ID" property="messageId"/>
        <result column="PO_NUMBER" property="poNumber"/>
        <result column="DISPLAY_PO_NUMBER" property="displayPoNumber"/>
        <result column="RECEIPT_DATE" property="receiptDate"/>
        <result column="CARRIER_SCAC_CODE" property="carrierScacCode"/>
        <result column="STATUS" property="status"/>
        <result column="ITEM_NUMBER" property="itemNumber"/>
        <result column="DISPLAY_ITEM_NUMBER" property="displayItemNumber"/>
        <result column="LOT_NUMBER" property="lotNumber"/>
        <result column="LINE_NUMBER" property="lineNumber"/>
        <result column="SCHEDULE_NUMBER" property="scheduleNumber"/>
        <result column="QTY_RECEIVED" property="qtyReceived"/>
        <result column="QTY_DAMAGED" property="qtyDamaged"/>
        <result column="HU_ID" property="huId"/>
        <result column="PACKING_SLIP_NO" property="packingSlipNo"/>
        <result column="FORK_ID" property="forkId"/>
        <result column="UOM" property="uom"/>
        <result column="SHIPMENT_NUMBER" property="shipmentNumber"/>
        <result column="WH_ID" property="whId"/>
        <result column="CLIENT_CODE" property="clientCode"/>
        <result column="GENERIC_ATTRIBUTE_1" property="genericAttribute1"/>
        <result column="GENERIC_ATTRIBUTE_2" property="genericAttribute2"/>
        <result column="GENERIC_ATTRIBUTE_3" property="genericAttribute3"/>
        <result column="GENERIC_ATTRIBUTE_4" property="genericAttribute4"/>
        <result column="GENERIC_ATTRIBUTE_5" property="genericAttribute5"/>
        <result column="GENERIC_ATTRIBUTE_6" property="genericAttribute6"/>
        <result column="GENERIC_ATTRIBUTE_7" property="genericAttribute7"/>
        <result column="GENERIC_ATTRIBUTE_8" property="genericAttribute8"/>
        <result column="GENERIC_ATTRIBUTE_9" property="genericAttribute9"/>
        <result column="GENERIC_ATTRIBUTE_10" property="genericAttribute10"/>
        <result column="GENERIC_ATTRIBUTE_11" property="genericAttribute11"/>
        <result column="VENDOR_CODE" property="vendorCode"/>
        <result column="CARTON_RECEIVED" property="cartonReceived"/>
        <result column="VOLUME_RECEIVED" property="volumeReceived"/>
        <result column="WEIGHT_RECEIVED" property="weightReceived"/>
        <result column="SHIPMENT_LINE_NUMBER" property="shipmentLineNumber"/>
        <result column="ALT_ITEM_NUMBER" property="altItemNumber"/>
        <result column="SUBINVENTORY" property="subInventory"/>
        <result column="SCANNED_UPC" property="scannedUpc"/>
        <result column="POM_TYPE" property="pomType"/>
        <result column="POM_MODE" property="pomMode"/>
        <result column="GENERIC_FIELD_1" property="genericField1"/>
        <result column="GENERIC_FIELD_2" property="genericField2"/>
        <result column="GENERIC_FIELD_3" property="genericField3"/>
        <result column="QTY_EXPECTED" property="qtyExpected"/>
        <result column="PRO_NUMBER" property="proNumber"/>
        <result column="GENERIC_FIELD_4" property="genericField4"/>
        <result column="GENERIC_FIELD_5" property="genericField5"/>
        <result column="GENERIC_FIELD_6" property="genericField6"/>
        <result column="GENERIC_FIELD_7" property="genericField7"/>
        <result column="GENERIC_FIELD_8" property="genericField8"/>
        <result column="GENERIC_FIELD_9" property="genericField9"/>
        <result column="GENERIC_FIELD_10" property="genericField10"/>
        <result column="GENERIC_FIELD_11" property="genericField11"/>
        <result column="GENERIC_FIELD_12" property="genericField12"/>
        <result column="GENERIC_FIELD_13" property="genericField13"/>
        <result column="GENERIC_FIELD_14" property="genericField14"/>
        <result column="GENERIC_FIELD_15" property="genericField15"/>
        <result column="TRAILER_NUMBER" property="trailerNumber"/>
        <result column="PREPACK_QTY" property="prePackQty"/>
        <result column="ITEM_DESCRIPTION" property="itemDescription"/>
        <result column="CLIENT_ORDER_NUMBER" property="clientOrderNumber"/>
        <result column="FILE_SEQ" property="fileSeq"/>
        <result column="RECEIPT_DATETIME" property="receiptDatetime"/>
        <result column="EXPIRATION_DATE" property="expirationDate"/>
        <result column="DAMAGED_REASON_CODE" property="damagedReasonCode"/>
        <result column="REASON_GENERIC_FIELD1" property="reasonGenericField1"/>
        <result column="PROCESS_ATTRIBUTE_1" property="processAttribute1"/>
        <result column="PROCESS_ATTRIBUTE_2" property="processAttribute2"/>
        <result column="PROCESS_ATTRIBUTE_3" property="processAttribute3"/>
        <result column="PROCESS_ATTRIBUTE_4" property="processAttribute4"/>
        <result column="PROCESS_ATTRIBUTE_5" property="processAttribute5"/>
        <result column="PROCESS_ATTRIBUTE_6" property="processAttribute6"/>
        <result column="PROCESS_ATTRIBUTE_7" property="processAttribute7"/>
        <result column="PROCESS_ATTRIBUTE_8" property="processAttribute8"/>
        <result column="PROCESS_ATTRIBUTE_9" property="processAttribute9"/>
        <result column="PROCESS_ATTRIBUTE_10" property="processAttribute10"/>
        <result column="PROCESS_ATTRIBUTE_11" property="processAttribute11"/>
        <result column="GENERIC_FIELD_16" property="genericField16"/>
        <result column="GENERIC_FIELD_17" property="genericField17"/>
        <result column="GENERIC_FIELD_18" property="genericField18"/>
        <result column="GENERIC_FIELD_19" property="genericField19"/>
        <result column="GENERIC_FIELD_20" property="genericField20"/>
        <result column="GENERIC_FIELD_21" property="genericField21"/>
        <result column="GENERIC_FIELD_22" property="genericField22"/>
        <result column="GENERIC_FIELD_23" property="genericField23"/>
        <result column="GENERIC_FIELD_24" property="genericField24"/>
        <result column="GENERIC_FIELD_25" property="genericField25"/>
        <result column="GENERIC_FIELD_26" property="genericField26"/>
        <result column="GENERIC_FIELD_27" property="genericField27"/>
        <result column="GENERIC_FIELD_28" property="genericField28"/>
        <result column="GENERIC_FIELD_29" property="genericField29"/>
        <result column="GENERIC_FIELD_30" property="genericField30"/>
        <result column="HU_ID_2" property="huId2"/>
    </resultMap>

    <select id="selectByHjsParentId" resultMap="esbRcptMainModel">
        SELECT * FROM tbl_ESB_RCPT_MAIN t WHERE t.hjs_parent_id = #{hjsParentId}
    </select>
</mapper>