<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maersk.apawnd.wms.standard.mapper.EventQueueApiMapper">
  <resultMap id="eventQueueApiModel" type="EventQueueApiModel">
    <result column="event_id" property="eventId"/>
    <result column="event_class" property="eventClass"/>
    <result column="event_type" property="eventType"/>
    <result column="event_name" property="eventName"/>
    <result column="event_data" property="eventData"/>
    <result column="date_added" property="dateAdded"/>
    <result column="date_started" property="dateStarted"/>
    <result column="date_finished" property="dateFinished"/>
    <result column="retry_count" property="retryCount"/>
    <result column="fifo_sequence" property="fifoSequence"/>
    <result column="priority" property="priority"/>
    <result column="status" property="status"/>
    <result column="error_msg" property="errorMsg"/>
  </resultMap>

  <select id="selectByEventName" resultMap="eventQueueApiModel">
    SELECT TOP #{batchQueueCount} * FROM t_event_queue_API t
    WHERE
        t.event_name = #{eventName}
    AND t.event_type = #{eventType}
    AND (
        (t.status = 'NEW' AND t.date_finished IS NULL)
        OR (t.status = 'ERROR' AND t.retry_count <![CDATA[<]]> #{retryCount})
        OR (t.status = 'START' AND DATEDIFF(minute, t.date_started, GETDATE()) <![CDATA[>]]> #{timeoutRetryMinute})
        OR (t.status IN ('MAIL','ERROR')
            AND DATEDIFF(minute, t.date_started, GETDATE()) <![CDATA[>]]> #{timeoutRetryMinute})
            AND (t.error_msg LIKE '%Timeout%' OR t.error_msg LIKE '%deadlocked%')
    )
    ORDER BY t.fifo_sequence
  </select>

  <update id="updateStatusStartByFifoSequence">
    UPDATE t_event_queue_API t
    SET t.date_started = GETDATE(),
        t.status = 'START'
    WHERE
        t.fifo_sequence = #{fifoSequence}
  </update>

  <update id="updateStatusFinishedByFifoSequence">
    UPDATE t_event_queue_API t
    SET t.date_finished = GETDATE(),
        t.status = 'DONE'
    WHERE
        t.fifo_sequence = #{fifoSequence}
  </update>
</mapper>