<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maersk.apawnd.wms.standard.mapper.ItemMasterMapper">
  <select id="selectCountByWhIdAndItemNumber" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM t_item_master t
    WHERE t.wh_id = #{whId}
    AND t.item_number = #{itemNumber}
  </select>
</mapper>