<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maersk.apawnd.wms.standard.mapper.PoDetailMapper">
  <select id="selectCountByWhIdAndPoNumberAndLineNumberAndItemNumberAndScheduleNumber" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM t_po_detail t
    WHERE t.wh_id = #{whId}
    AND t.po_number = #{poNumber}
    AND t.line_number = #{lineNumber}
    AND t.item_number = #{itemNumber}
    AND t.schedule_number = #{scheduleNumber}
  </select>
</mapper>