<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maersk.apawnd.wms.standard.mapper.RcptShipPoMapper">
  <resultMap id="rcptShipPoModel" type="RcptShipPoModel">
    <result column="wh_id" property="whId"/>
    <result column="shipment_number" property="shipmentNumber"/>
    <result column="po_number" property="poNumber"/>
    <result column="cases_expected" property="casesExpected"/>
    <result column="cases_received" property="casesReceived"/>
    <result column="open_to_buy_date" property="openToBuyDate"/>
    <collection property="rcptShipPoDetailList" resultMap="com.maersk.apawnd.wms.standard.mapper.RcptShipPoDetailMapper.rcptShipPoDetailModel"/>
  </resultMap>

  <insert id="insert" parameterType="RcptShipPoModel">
    INSERT INTO t_rcpt_ship_po (
      wh_id, shipment_number, po_number, cases_expected, cases_received,
      open_to_buy_date
    ) VALUES (
      #{whId}, #{shipmentNumber}, #{poNumber}, #{casesExpected, jdbcType=FLOAT}, #{casesReceived, jdbcType=FLOAT},
      #{openToBuyDate}
    )
  </insert>

  <insert id="bulkInsert" parameterType="java.util.List">
    INSERT INTO t_rcpt_ship_po (
      wh_id, shipment_number, po_number, cases_expected, cases_received,
      open_to_buy_date
    ) VALUES
    <foreach collection="list" item="item" separator=",">
    (
      #{item.whId}, #{item.shipmentNumber}, #{item.poNumber}, #{item.casesExpected, jdbcType=FLOAT}, #{item.casesReceived, jdbcType=FLOAT},
      #{item.openToBuyDate}
    )
    </foreach>
  </insert>

  <update id="bulkUpdate" parameterType="java.util.List">
    <foreach collection="list" item="item" separator=";">
      UPDATE t_rcpt_ship_po
      SET
        cases_expected = #{item.casesExpected, jdbcType=FLOAT},
        cases_received = #{item.casesReceived, jdbcType=FLOAT},
        open_to_buy_date = #{item.openToBuyDate}
      WHERE
        wh_id = #{item.whId}
      AND shipment_number = #{item.shipmentNumber}
      AND po_number = #{item.poNumber}
    </foreach>
  </update>

  <delete id="deleteByWhIdAndShipmentNumber">
    DELETE FROM t_rcpt_ship_po WHERE wh_id = #{whId} AND shipment_number = #{shipmentNumber}
  </delete>
</mapper>