<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maersk.apawnd.wms.standard.mapper.RcptShipPoDetailMapper">
  <resultMap id="rcptShipPoDetailModel" type="RcptShipPoDetailModel">
    <result column="wh_id" property="whId"/>
    <result column="shipment_number" property="shipmentNumber"/>
    <result column="po_number" property="poNumber"/>
    <result column="line_number" property="lineNumber"/>
    <result column="item_number" property="itemNumber"/>
    <result column="schedule_number" property="scheduleNumber"/>
    <result column="expected_qty" property="expectedQty"/>
    <result column="received_qty" property="receivedQty"/>
    <result column="reconciled_date" property="reconciledDate"/>
    <result column="status" property="status"/>
    <result column="shipment_line_number" property="shipmentLineNumber"/>
    <result column="weight" property="weight"/>
    <result column="calculation_uom" property="calculationUom"/>
    <result column="property_mark" property="propertyMark"/>
    <result column="generic_field_1" property="genericField1"/>
    <result column="generic_field_2" property="genericField2"/>
    <result column="generic_field_3" property="genericField3"/>
    <result column="generic_field_4" property="genericField4"/>
    <result column="generic_field_5" property="genericField5"/>
    <result column="generic_field_6" property="genericField6"/>
    <result column="generic_field_7" property="genericField7"/>
    <result column="generic_field_8" property="genericField8"/>
    <result column="generic_field_9" property="genericField9"/>
    <result column="generic_field_10" property="genericField10"/>
    <result column="generic_field_11" property="genericField11"/>
    <result column="generic_field_12" property="genericField12"/>
    <result column="generic_field_13" property="genericField13"/>
    <result column="generic_field_14" property="genericField14"/>
    <result column="generic_field_15" property="genericField15"/>
    <result column="grn_send_sign" property="grnSendSign"/>
    <result column="grn_send_date" property="grnSendDate"/>
    <result column="customs_is_approved" property="customsIsApproved"/>
    <result column="bonded_qty" property="bondedQty"/>
    <result column="free_qty" property="freeQty"/>
    <result column="confirm_bounded" property="confirmBounded"/>
    <result column="confirm_free" property="confirmFree"/>
    <result column="confirm_kit" property="confirmKit"/>
    <result column="received_bonded_qty" property="receivedBondedQty"/>
    <result column="received_free_qty" property="receivedFreeQty"/>
    <collection property="rcptShipCartonDetailList" resultMap="com.maersk.apawnd.wms.standard.mapper.RcptShipCartonDetailMapper.rcptShipCartonDetailModel"/>
  </resultMap>

  <insert id="insert" parameterType="RcptShipPoDetailModel">
    INSERT INTO t_rcpt_ship_po_detail (
      wh_id, shipment_number, po_number, line_number, item_number,
      schedule_number, expected_qty, received_qty, reconciled_date, status,
      shipment_line_number, weight, calculation_uom, property_mark, generic_field_1,
      generic_field_2, generic_field_3, generic_field_4, generic_field_5, generic_field_6,
      generic_field_7, generic_field_8, generic_field_9, generic_field_10, generic_field_11,
      generic_field_12, generic_field_13, generic_field_14, generic_field_15, grn_send_sign,
      grn_send_date, customs_is_approved, bonded_qty, free_qty, confirm_bounded,
      confirm_free, confirm_kit, received_bonded_qty, received_free_qty
    ) VALUES (
      #{whId}, #{shipmentNumber}, #{poNumber}, #{lineNumber}, #{itemNumber},
      #{scheduleNumber}, #{expectedQty, jdbcType=FLOAT}, #{receivedQty, jdbcType=FLOAT}, #{reconciledDate}, #{status},
      #{shipmentLineNumber}, #{weight, jdbcType=FLOAT}, #{calculationUom}, #{propertyMark}, #{genericField1},
      #{genericField2}, #{genericField3}, #{genericField4}, #{genericField5}, #{genericField6},
      #{genericField7}, #{genericField8}, #{genericField9}, #{genericField10}, #{genericField11},
      #{genericField12}, #{genericField13}, #{genericField14}, #{genericField15}, #{grnSendSign},
      #{grnSendDate}, #{customsIsApproved}, #{bondedQty, jdbcType=FLOAT}, #{freeQty, jdbcType=FLOAT}, #{confirmBounded, jdbcType=FLOAT},
      #{confirmFree, jdbcType=FLOAT}, #{confirmKit, jdbcType=FLOAT}, #{receivedBondedQty, jdbcType=FLOAT}, #{receivedFreeQty, jdbcType=FLOAT}
    )
  </insert>

  <insert id="bulkInsert" parameterType="java.util.List">
    INSERT INTO t_rcpt_ship_po_detail (
      wh_id, shipment_number, po_number, line_number, item_number,
      schedule_number, expected_qty, received_qty, reconciled_date, status,
      shipment_line_number, weight, calculation_uom, property_mark, generic_field_1,
      generic_field_2, generic_field_3, generic_field_4, generic_field_5, generic_field_6,
      generic_field_7, generic_field_8, generic_field_9, generic_field_10, generic_field_11,
      generic_field_12, generic_field_13, generic_field_14, generic_field_15, grn_send_sign,
      grn_send_date, customs_is_approved, bonded_qty, free_qty, confirm_bounded,
      confirm_free, confirm_kit, received_bonded_qty, received_free_qty
    ) VALUES
    <foreach collection="list" item="item" separator=",">
    (
      #{item.whId}, #{item.shipmentNumber}, #{item.poNumber}, #{item.lineNumber}, #{item.itemNumber},
      #{item.scheduleNumber}, #{item.expectedQty, jdbcType=FLOAT}, #{item.receivedQty, jdbcType=FLOAT}, #{item.reconciledDate}, #{item.status},
      #{item.shipmentLineNumber}, #{item.weight, jdbcType=FLOAT}, #{item.calculationUom}, #{item.propertyMark}, #{item.genericField1},
      #{item.genericField2}, #{item.genericField3}, #{item.genericField4}, #{item.genericField5}, #{item.genericField6},
      #{item.genericField7}, #{item.genericField8}, #{item.genericField9}, #{item.genericField10},
      #{item.genericField11},
      #{item.genericField12}, #{item.genericField13}, #{item.genericField14}, #{item.genericField15},
      #{item.grnSendSign},
      #{item.grnSendDate}, #{item.customsIsApproved}, #{item.bondedQty, jdbcType=FLOAT}, #{item.freeQty, jdbcType=FLOAT}, #{item.confirmBounded, jdbcType=FLOAT},
      #{item.confirmFree, jdbcType=FLOAT}, #{item.confirmKit, jdbcType=FLOAT}, #{item.receivedBondedQty, jdbcType=FLOAT}, #{item.receivedFreeQty, jdbcType=FLOAT}
    )
    </foreach>
  </insert>

  <update id="update" parameterType="RcptShipPoDetailModel">
    UPDATE t_rcpt_ship_po_detail
    SET
    schedule_number = #{item.scheduleNumber},
    expected_qty = #{item.expectedQty, jdbcType=FLOAT},
    received_qty = #{item.receivedQty, jdbcType=FLOAT},
    reconciled_date = #{item.reconciledDate},
    status = #{item.status},
    shipment_line_number = #{item.shipmentLineNumber},
    weight = #{item.weight, jdbcType=FLOAT},
    calculation_uom = #{item.calculationUom},
    property_mark = #{item.propertyMark},
    generic_field_1 = #{item.genericField1},
    generic_field_2 = #{item.genericField2},
    generic_field_3 = #{item.genericField3},
    generic_field_4 = #{item.genericField4},
    generic_field_5 = #{item.genericField5},
    generic_field_6 = #{item.genericField6},
    generic_field_7 = #{item.genericField7},
    generic_field_8 = #{item.genericField8},
    generic_field_9 = #{item.genericField9},
    generic_field_10 = #{item.genericField10},
    generic_field_11 = #{item.genericField11},
    generic_field_12 = #{item.genericField12},
    generic_field_13 = #{item.genericField13},
    generic_field_14 = #{item.genericField14},
    generic_field_15 = #{item.genericField15},
    grn_send_sign = #{item.grnSendSign},
    grn_send_date = #{item.grnSendDate},
    customs_is_approved = #{item.customsIsApproved},
    bonded_qty = #{item.bondedQty, jdbcType=FLOAT},
    free_qty = #{item.freeQty, jdbcType=FLOAT},
    confirm_bounded = #{item.confirmBounded, jdbcType=FLOAT},
    confirm_free = #{item.confirmFree, jdbcType=FLOAT},
    confirm_kit = #{item.confirmKit, jdbcType=FLOAT},
    received_bonded_qty = #{item.receivedBondedQty, jdbcType=FLOAT},
    received_free_qty = #{item.receivedFreeQty, jdbcType=FLOAT}
    WHERE
    wh_id = #{item.whId}
    AND shipment_number = #{item.shipmentNumber}
    AND po_number = #{item.poNumber}
    AND line_number = #{item.lineNumber}
    AND item_number = #{item.itemNumber}
  </update>

  <update id="bulkUpdate" parameterType="java.util.List">
    <foreach collection="list" item="item" separator=";">
    UPDATE t_rcpt_ship_po_detail
    SET
      schedule_number = #{item.scheduleNumber},
      expected_qty = #{item.expectedQty, jdbcType=FLOAT},
      received_qty = #{item.receivedQty, jdbcType=FLOAT},
      reconciled_date = #{item.reconciledDate},
      status = #{item.status},
      shipment_line_number = #{item.shipmentLineNumber},
      weight = #{item.weight, jdbcType=FLOAT},
      calculation_uom = #{item.calculationUom},
      property_mark = #{item.propertyMark},
      generic_field_1 = #{item.genericField1},
      generic_field_2 = #{item.genericField2},
      generic_field_3 = #{item.genericField3},
      generic_field_4 = #{item.genericField4},
      generic_field_5 = #{item.genericField5},
      generic_field_6 = #{item.genericField6},
      generic_field_7 = #{item.genericField7},
      generic_field_8 = #{item.genericField8},
      generic_field_9 = #{item.genericField9},
      generic_field_10 = #{item.genericField10},
      generic_field_11 = #{item.genericField11},
      generic_field_12 = #{item.genericField12},
      generic_field_13 = #{item.genericField13},
      generic_field_14 = #{item.genericField14},
      generic_field_15 = #{item.genericField15},
      grn_send_sign = #{item.grnSendSign},
      grn_send_date = #{item.grnSendDate},
      customs_is_approved = #{item.customsIsApproved},
      bonded_qty = #{item.bondedQty, jdbcType=FLOAT},
      free_qty = #{item.freeQty, jdbcType=FLOAT},
      confirm_bounded = #{item.confirmBounded, jdbcType=FLOAT},
      confirm_free = #{item.confirmFree, jdbcType=FLOAT},
      confirm_kit = #{item.confirmKit, jdbcType=FLOAT},
      received_bonded_qty = #{item.receivedBondedQty, jdbcType=FLOAT},
      received_free_qty = #{item.receivedFreeQty, jdbcType=FLOAT}
    WHERE
      wh_id = #{item.whId}
    AND shipment_number = #{item.shipmentNumber}
    AND po_number = #{item.poNumber}
    AND line_number = #{item.lineNumber}
    AND item_number = #{item.itemNumber}
    </foreach>
  </update>

  <delete id="deleteByWhIdAndShipmentNumber">
    DELETE FROM t_rcpt_ship_po_detail WHERE wh_id = #{whId} AND shipment_number = #{shipmentNumber}
  </delete>

  <delete id="deleteByWhIdAndShipmentNumberAndPoNumberAndLineNumberAndItemNumber">
    DELETE FROM t_rcpt_ship_po_detail
    WHERE wh_id = #{whId}
    AND shipment_number = #{shipmentNumber}
    AND po_number = #{poNumber}
    AND line_number = #{lineNumber}
    AND item_number = #{itemNumber}
  </delete>

  <select id="selectCountByWhIdAndShipmentNumberAndPoNumberAndLineNumberAndItemNumber" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM t_rcpt_ship_po_detail t
    WHERE t.wh_id = #{whId}
    AND t.shipment_number = #{shipmentNumber}
    AND t.po_number = #{poNumber}
    AND t.line_number = #{lineNumber}
    AND t.item_number = #{itemNumber}
  </select>
</mapper>