<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.poc.mapper.EsbRcptMapper">
    <resultMap id="esbRcptModel" type="com.example.poc.model.EsbRcptModel">
        <id column="hjs_node_id" property="hjsNodeId"/>
        <result column="hjs_sequence" property="hjsSequence"/>
        <result column="hjs_error_number" property="hjsErrorNumber"/>
        <result column="hjs_error_message" property="hjsErrorMessage"/>
    </resultMap>

    <insert id="insert" parameterType="com.example.poc.model.EsbRcptModel">
        <selectKey keyProperty="hjsNodeId" order="BEFORE" resultType="java.lang.String">
            SELECT newId()
        </selectKey>
        INSERT INTO tbl_ESB_RCPT (hjs_node_id, hjs_sequence, hjs_error_number, hjs_error_message)
        VALUES (#{hjsNodeId}, #{hjsSequence}, #{hjsErrorNumber}, #{hjsErrorMessage})
    </insert>
</mapper>